.title {
  font-size: 60px !important;
  color: black !important;
}

.quarto-title-author-name {
  font-size: 40px;
  color: blue !important;
}


.quarto-title-affiliation {
  font-size: 30px !important;
  color: black;
}

.citation {
  font-size: 80%;
}


body {
    font: Carlito;
}

.reveal .mermaid {
  width: 100%;
  height: 80vh; /* tweak this */
}



.c-fig {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.reveal .big-diagram {
  height: 90vh;
}

.small {
  font-size: 0.6em;
}

.medium {
  font-size: 0.8em;
}


.reveal .center-mermaid {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mermaid-c {
  text-align: center;
}

div.references {
  font-size: 0.3em; /* Adjust as needed */
}