.title {
  font-size: 60px !important;
  color: black !important;
}

.quarto-title-author-name {
  font-size: 40px;
  color: blue !important;
}


.quarto-title-affiliation {
  font-size: 30px !important;
  color: black;
}

.citation {
  font-size: 80%;
}


body {
    font: Carlito;
}

.reveal .mermaid {
  width: 100%;
  height: 80vh; /* tweak this */
}



.c-fig {
  display: block;
  margin-left: auto;
  margin-right: auto
}

/* Make the container big */
.reveal .cell-output-display {
  height: 85vh;
  width: 100%;
}

/* Let mermaid fill it */
.reveal .mermaid {
  width: 100% !important;
  height: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Force SVG scaling */
.reveal .mermaid svg {
  width: 100% !important;
  height: 100% !important;
  max-width: none !important;
}


.small {
  font-size: 0.6em;
}

.medium {
  font-size: 0.8em;
}

.reveal section.big-code-slide pre code {
  max-height: none;     /* removes scrollbars */
  font-size: 1.2em;     /* optional: bigger text */
}